* {
    border:0;
    margin:0;
    padding:0;
}

/* general */
a {
    color:#ff0011;
    text-decoration:none;
}

a:hover {
    color:#ff0011;
    text-decoration:underline;
}

/* body */
body {
    background:#bfbfbf;
    color:#000;
    font:1em Times New Roman, Verdana, Calibri, Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
    height:220px;
    margin:0 auto 36px;
    width:902px;
}
#logo {
	text-align:center;
}

#logo :hover {
text-decoration:none;
}

.logoGray{
	color:#7F7F7F;
}

.message{
margin-top:-150px;
margin-left:350px;
}

.arial{
font-family:arial;
}

.verdana{
font-family:verdana;
}

.cursive{
font-family:cursive;
}

#logo a{
color:#000000;
font-size:4em;
}
/* navigation */
#navigation {
    margin:0 auto;
    height:42px;
    padding-top:10px;
}
#navigation li {
    float:left;
    list-style:none;
    text-transform:uppercase;
    font-size: 1.1em;
    height: 42px;
    background-image: url(graphics/button.png);
    margin-right:10px;
    width:142px;
}

#navigation .last {
    margin-right:0;
}
#navigation a {
    color:#000;
    display:block;
    line-height:42px;
    text-align:center;
    text-decoration: none;
}
#navigation .active {
	background-image: url(graphics/button.png);
    font-weight:bolder;
}

#navigationImages {
    margin:0 auto;
    height:90px;
    padding-top:27px;
}

#navigationImages li {
    float:left;
	list-style:none;
    margin-right:10px;
    width:142px;
}

#navigationImages .last {
    margin-right:0;
}

#navigationImages img{
	margin-left:3px;
	vertical-align:bottom;
	height:88px;
	width:136px;
}

/* subnavigation */
#subnavigation {
	margin-top:-150px;
    background:#cfcfcf;
    border-top: 1px solid #000;
    height:30px;
    list-style:none;
    padding-top:10px;
    padding-bottom:10px;
}
#subnavigation li {
    font-size: 0.8em;
    float:left;
    width:450px;
    list-style:none;
    text-transform: uppercase;
}
#subnavigation a {
    color:#000;
    display:block;
    line-height:28px;
    text-align:center;
}
#subnavigation .active {
    color:#000;
    font-weight:bolder;
    font-size: large;
}

/* side navigation */
#sideNavigation {
	margin-top:20px;
	float:left;
}

#sideNavigation li {
	list-style:disc inside url(graphics/arrow.png);
}

#sideNavigation a {
	line-height: 40px;
	vertical-align: top;
    color:#000;
	font-weight:bolder;
}
/* page content */

#page_content .paintingName{
	margin-top:-27px
}

#page_content hr {
	margin-top:15px;
	margin-bottom:30px;
}

#page_content {
    height:auto;
    margin:0 auto;
    padding:0 0 20px;
    width:900px;
}
#page_content h1 {
    font-size:1.8em;
    padding:20px 0 0;
    text-transform:uppercase;
    font-weight: normal;
}
#page_content h2{
    font-weight: normal;
    font-size: 16px;
}

#page_content h3{
	text-align:center;
    font-weight: normal;
    font-size: 22px;
}

#page_content table{
    padding: 0 20px;
    width: 100%;
}

.table a{
	color:#333333;
}

#page_content .align_left{
	padding: 0;
	margin-left: -2px;
}

#page_content input, textarea {
    background: #e3e3e3;
    margin:2px;
    width:100%;
}

#page_content .narrow {
    width: 270px;
    padding-bottom: 20px;
}

#page_content .narrow_empty {
    width: 200px;
    height: 200px;
    background-image:url(graphics/art.png);
    background-repeat:no-repeat;
}

#page_content img{
    /* Add container height here if desired */
    background-color: black;
    padding: 6px;
    position: relative;
}

#page_content .required {
    color:#ff0011;
}

#page_content .button {
    border: 2px solid;
	border-color:#333333;
    margin: 1px;
    padding: 0px;
}

#technique span {
    font-size:1.8em;
}

/* footer */
#footer {
    height:15px;
    margin: 20px auto 0;
    text-align:center;
    font-size: 0.8em;
    color: #000000;
}

#footer a{
    color: #000;
}

#artists td {
    font-size: 1.2em;
    padding: 5px;
}
#artists a{
    color: #000;
}

#wrap {
    margin:20px auto;
    width: 1000px;
    background:#bfbfbf;
}

#top{
    height:30px;
}
#bottom{
    height:30px;
}
.clear{
    clear:both;
}

.align_top{
vertical-align:top;
}

.biography-photo {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.artist-empty {
    width: 220px;
    padding: 20px;
}
.artist-first {
    width: 241px;
}
.separator {
    width: 955px;
    height: 5px;
    background-image: url(graphics/belka.jpeg);
    margin:30px auto 0;
}

#loading {
     display: none;
     float: right;
}
#loading img{
     border: 0;
}

#fileToUploadArea{
    display: none;
    float: left;
}

#imageToUploadArea{
    display: none;
    float: left;
}
#article_content {
    line-height: 1.5em;
    text-align: justify;
}

#article_content img {
margin: 10px auto;
display:block;
}

.form-label {
width: 30%;
}

.comment {
margin-left: 506px;
margin-top: 30px;
}

#infinite_scroll{
height:200px;overflow-y:scroll;margin-top:50px;border:0px solid #ccc;padding:10px;
}

#infinite_scroll a{
font-weight:bold;
}

#infinite_scroll p{
margin-bottom:20px;width:90%
}

.loading{
text-align:right;margin-top:-100px;
}

.left{
float:left;
margin: 15px;
}

.right{
float:right;
margin: 15px;
}