* {
    border:0;
    margin:0;
    padding:0;
}

/* general */
a {
    color:#ff0011;
    text-decoration:none;
}

a:hover {
    color:#ff0011;
    text-decoration:underline;
}

/* body */
body {
    background:#838383;
    color:#000;
    font:1em Calibri, Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
    height:95px;
    margin:0 auto;
    width:755px;
    background-image: url(logo.jpeg);
}
#logo {
    width:174px;
    height:46px;
}

/* navigation */
#navigation {
    margin:0 auto;
    height:22px;
    list-style:none;
    padding-top:27px;
    width:755px;
}
#navigation li {
    float:left;
    list-style:none;
    text-transform:uppercase;
    font-size: 0.8em;
    height: 22px;
    background-image: url(graphics/off.png);
    margin-right:7px;
    width:120px;
}

#navigation .last {
    margin-right:0;
}
#navigation a {
    color:#fff;
    display:block;
    line-height:22px;
    text-align:center;
    text-decoration: none;
}
#navigation .active {
    background-image: url(graphics/on.png);
    font-weight:bolder;
}

/* subnavigation */
#subnavigation {
    background:#fff;
    border-bottom: 1px solid #ff0011;
    border-top: 1px solid #ff0011;
    margin: 10px auto 0;
    width:690px;
    height:30px;
    list-style:none;
}
#subnavigation li {
    font-size: 0.8em;
    float:left;
    width:345px;
    list-style:none;
    text-transform: uppercase;
}
#subnavigation a {
    color:#000;
    display:block;
    line-height:28px;
    text-align:center;
}
#subnavigation .active {
    color:#000;
    font-weight:bolder;
    font-size: large;
}


/* page content */
#page_content {
    height:auto;
    margin:0 auto;
    padding:0 0 20px;
    width:690px;
}
#page_content h1 {
    font-size:1.8em;
    padding:20px 0 0;
    text-transform:uppercase;
    font-weight: normal;
}
#page_content h2{
    font-weight: normal;
    font-size: 16px;
}

#page_content p {
    padding:20px 20px 5px;
    line-height: 1.5em;
    text-align: justify;
}
#page_content table{
    padding:20px 20px 0;
    width: 100%;
}

#page_content input, textarea {
    background: #e3e3e3;
    margin:2px;
    width:100%;
}

#page_content .narrow {
    width: 200px;
    padding-bottom: 20px;
}

#page_content .narrow_empty {
    width: 200px;
    height: 200px;
    background-image:url(graphics/art.png);
    background-repeat:no-repeat;
}

#page_content img{
    /* Add container height here if desired */
    background-color: white;
    border: 1px solid gray;
    padding: 6px;
    position: relative;
}

#page_content .required {
    color:#ff0011;
}

#artist span {
    font-size:1.8em;
}

/* footer */
#footer {
    height:15px;
    margin: 20px auto 0;
    text-align:center;
    font-size: 0.8em;
    color: #838383;
}

#footer a{
    color: #000;
}

#artists td {
    font-size: 1.2em;
    padding: 5px;
}
#artists a{
    color: #000;
}

#wrap {
    margin:20px auto;
    width: 870px;
    background:#ffffff;
}

#top{
    height:30px;
}
#bottom{
    height:30px;
}
.clear{
    clear:both;
}

.button {
    border: 1px solid #ccc;
    margin: 1px;
    padding: 2px;
}
.biography-photo {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.artist-empty {
    width: 150px;
    padding: 20px;
}
.separator {
    width: 755px;
    height: 5px;
    background-image: url(graphics/belka.jpeg);
    margin:30px auto 0;
}

#loading {
     display: none;
}
#loading img{
     border: 0;
}

#fileToUploadArea{
    display: none;
    float: left;
}
#article_content img {
float: left;
margin: 10px;
}
